.section-imagebar .item {
  height: 475px; }

.list-inline > li {
  display: inline-block; }
  .list-inline > li a {
    font-family: Montserrat, sans-serif; }

.site-nav__label {
  display: inline-block;
  position: relative;
  font-size: 16px;
  height: 44px;
  padding: 0 5px;
  font-family: Montserrat, sans-serif; }

.site-nav__label:hover:after {
  width: 100%; }

.site-nav__label:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  color: transparent;
  background: #0099ff;
  height: 3px; }

.list-category li a img {
  width: 100px; }
